* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}

/* Remove as setas no Chrome, Safari, Edge e Opera */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;

}

/* Remove as setas no Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

body {
  background-color: hsl(185, 41%, 84%);
}

/*header*/
header {
  text-align: center;
  margin: 3rem 0;
  font-size: 0.7rem;
  letter-spacing: 10px;
  color: hsl(183, 100%, 15%);
}

.card {
  background-color: hsl(0, 100%, 100%);
  padding: 1.5rem;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

/*bill / numberPeople*/
.bill,
.numberPeople {
  position: relative;
  width: 100%;
}

.bill h3,
.numberPeople h3,
.selectTip h3 {
  font-size: 14px;
  color: hsl(186, 14%, 43%);
  margin-bottom: 6px;
}

.bill img,
.numberPeople img {
  position: absolute;
  left: 12px;
  top: 45%;
  transform: translateY(10%);
  pointer-events: none;
}

.bill input,
.numberPeople input {
  width: 100%;
  padding-left: 35px;
  padding-right: 12px;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 36px;
  font-size: 18px;
  font-weight: 700;
  color: hsl(183, 100%, 15%);
  text-align: right;
  border: 2px solid transparent;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: hsl(189, 47%, 97%);
  outline: none;
  transition: border-color 0.2s, box-shadow 0.2s;
  margin-bottom: 1rem;
}

.bill input:focus,
.numberPeople input:focus {
  border: 2px solid hsl(172, 67%, 45%);
}

.numberPeopleHeader,
.numberBillHeader {
  display: flex;
  justify-content: space-between;
}

.numberPeopleHeader p,
.numberBillHeader p {
  font-size: 12px;
  color: hsl(4, 100%, 67%);
  font-weight: 700;
}

.bill input::placeholder,
.numberPeople input::placeholder {
  opacity: 0.4;
  color: hsl(183, 100%, 15%);
}



/*buttons select*/
.selectTip {
  margin-bottom: 1rem;
}

.divButtonsSelectTip {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 14px;
  column-gap: 14px;
}

.divButtonsSelectTip button,
.divButtonsSelectTip input {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  font-weight: 700;
  font-size: 1.2rem;
  text-align: center;
  border-radius: 5px;
}

.divButtonsSelectTip input {
  border: 2px solid transparent;
  outline: none;
  color: hsl(183, 100%, 15%);
  background-color: hsl(189, 47%, 97%);
}

.divButtonsSelectTip input:focus {
  border: 2px solid hsl(172, 67%, 45%);
}

.divButtonsSelectTip input::placeholder {
  color: hsl(183, 100%, 15%);
}

.divButtonsSelectTip button {
  background-color: hsl(183, 100%, 15%);
  color: hsl(0, 100%, 100%);
  border: none;
}

button.buttonActive {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
}

.inputError {
  border: 2px solid red;
}

.messageError {
  color: red;
  font-size: 14px;
}

/*cardFooter*/
.cardFooter {
  background-color: hsl(183, 100%, 15%);
  padding: 2rem 1.5rem 1.5rem 1.5rem;
  border-radius: 15px;
}

.footerContent {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.cardFooterContent h3 {
  color: hsl(0, 100%, 100%);
  font-size: 14px;
}

.cardFooterContent p {
  color: hsl(172, 67%, 45%);
  font-size: 10px;
}

.cardfooterNumber {
  font-size: 1.5rem;
  color: hsl(172, 67%, 45%);
  font-weight: 700;
}


.footerButton button {
  width: 100%;
  height: 40px;
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
  border: 1px solid transparent;
  border-radius: 5px;
  font-weight: 700;
  font-size: 16px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding: 10px;
}

.attribution a {
  color: hsl(183, 100%, 15%);
  font-weight: 700;
}

button.btnResetEmpty {
  background-color: hsl(183, 95%, 22%);
}


@media screen and (min-width:700px) {

  body { 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .card {
    display: flex;
    padding: 2rem;
    width: 850px;
    margin: 0 auto;
    border-radius: 15px;
  }

  .cardBody {
    width: 50%;
    margin-right: 2rem;
  }

  .cardFooter {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .cardfooterNumber {
    font-size: 2.5rem;
  }

  .divButtonsSelectTip {
    grid-template-columns: repeat(3, 1fr);
  }

  .divButtonsSelectTip button,
  .divButtonsSelectTip input,
  .bill input,
  .numberPeople input,
  .footerButton button {
    cursor: pointer;
  }


}